<p>
<strong>Producto:</strong>
<%= @producto.nombre %>
</p>
<p>
<strong>Detalle:</strong>
<%= @producto.descripcion %>
</p>
<p>
<strong>Cantidad:</strong>
<%= @producto.cantidad %>
</p>
<p>
<strong>Costo por Unidad:</strong>
<%= @producto.precio %>
</p>
<%= link_to 'Modificar', edit_producto_path(@producto) %>
<%= link_to 'Regresar', productos_path %>