<%= link_to 'Regresar', registros_path, :class => 'btn btn-info pull-right' %>
<div class="text-center col-md-12">
    <h1>Nuevo Registro<h1>
    <%= form_with model: @registro, local: true do |form| %>
        <% if @registro.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@registro.errors.count, "error") %> No se pudo lograr salvar este registro:
                </h2>
                <ul>
                    <% @registro.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="col-md-12">
            <%= form.number_field :gasto, placeholder: "Ingrese la Cantidad" %>
        </div>
        <div class="col-md-12">
            <%= form.text_field :descripcion, placeholder: "Descripción" %>
        </div>
        <div class="btn-group text-center" data-toggle="buttons">
            <label class="btn btn-danger active">
                <%= form.radio_button :destino, 0 %>
                <span class="glyphicon glyphicon-ok"></span>
                Egreso
            </label>
            <label class="btn btn-info">
                <%= form.radio_button :destino, 1 %>
                <span class="glyphicon glyphicon-ok"></span>
                Ingreso
            </label>
        </div>
        <div class="col-md-12">
            <%= form.submit 'Crear Registro', :class => 'btn btn-primary boton-login' %>
        </div>
    <% end %>
</div>