<%= link_to 'Regresar', registros_path, :class => 'btn btn-info pull-right' %>
<div class="text-center col-md-12">
    <h1>Nuevo Registro<h1>
    <%= form_with model: @registro, local: true do |form| %>
        <% if @registro.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@registro.errors.count, "error") %> No se pudo lograr salvar este registro:
                </h2>
                <ul>
                    <% @registro.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= form.hidden_field :user_id, :value => current_user.id  %>
        <div class="col-md-12">
            <%= form.number_field :gasto, placeholder: "Ingrese la Cantidad" %>
        </div>
        <div class="col-md-12">
            <%= form.text_field :descripcion, placeholder: "Descripción" %>
        </div>
            <label for="egreso" class="btn btn-danger">
            <%= form.radio_button :destino, false, :id => 'egreso' %>
            Egreso
            </label>
            <label for="ingreso" class="btn btn-info">
            <%= form.radio_button :destino, true, :id => 'ingreso' %>
            Ingreso
            </label>
        <div class="col-md-12">
            <%= form.submit 'Crear Registro', :class => 'btn btn-primary boton-login' %>
        </div>
    <% end %>
</div>