<a href="/registros" class="pull-right btn btn-info">Regresar</a>
<div class="text-center col-md-12">
    <h1>Detalles del Registro</h1>
    <!--<%= link_to 'Regresar', registros_path %>-->
    <br>
    <div class="panel panel-primary">
        <table class="table table-hover">
            <tr>
                <thead>
                    <th>Detalles</th>
                    <th>Gasto</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                </thead>
            </tr>
            <tr>
                <td><%= @registro.descripcion %></td>
                <% if @registro.destino == false %>
                    <td class="ingreso-negativo">$ -<%= @registro.gasto %></td>
                <% else %>
                    <td class="ingreso-positivo">$ <%= @registro.gasto %></td>
                <% end %>
                <td><%= @registro.created_at %></td>
                <td><% if @registro.destino == false %> Egreso <% else %> Ingreso <% end %></td>
            </tr>
        </table>
    </div>
</div>